<template>
  <div class="cookie-banner">
    <span
      >This site uses cookies to offer a better user experience and to analyse
      traffic. By continuing to use this site you consent to our use of
      cookies.</span
    >
    <v-btn icon aria-label="Accept cookie policy" @click="acceptCookiePolicy"
      ><v-icon>{{ mdiClose }}</v-icon></v-btn
    >
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch, Inject } from "vue-property-decorator";
import { DataPoint, HSL, Name, NameData } from "../models";
import GenderIcon from "../components/GenderIcon.vue";
import NameStreamGraph from "../components/NameStreamGraph.vue";
import VueSwing from "vue-swing/VueSwing.vue";
import { mdiClose } from "@mdi/js";

@Component({})
export default class CookieBanner extends Vue {
  mdiClose = mdiClose;

  acceptCookiePolicy() {
    this.$emit("acceptCookiePolicy");
  }
}
</script>
<style lang="scss" scoped>
.cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 2vmin;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--translucent-white);
}
</style>
