<template>
  <v-card class="card matches">
    <h2 class="cardHeader">Matches</h2>
    <v-text-field
      v-model="otherKindlingID"
      label="Other ID"
      hint="enter a code to compare matches"
      :error="participants === 1 && otherKindlingID !== ''"
      :error-messages="
        participants === 1 && otherKindlingID !== '' && 'Incorrect ID.'
      "
    ></v-text-field>
    <v-list v-if="participants > 1" class="matchList">
      <li v-for="name in items" :key="name.key" @click="setExpanded(name.key)">
        <div class="listItemHeader">
          <h3 class="listItemHeading">
            {{ toNameCase(name.name) }}
            <GenderIcon :gender="name.gender"></GenderIcon>
          </h3>
          <v-btn
            icon
            :style="{
              transform: `rotate(${expanded === name.key ? '180deg' : 0})`,
            }"
            ><v-icon>{{ mdiChevronDown }}</v-icon></v-btn
          >
        </div>
        <div v-if="expanded === name.key" class="listItemContent">
          <div class="mostRecentYear">
            <div class="yearInfo">
              <h4>Year:</h4>
              <v-chip>{{
                getMostRecentYear(nameData.get(`${name.name}${name.gender}`))
                  .year
              }}</v-chip>
            </div>
            <v-divider vertical></v-divider>
            <div class="yearInfo">
              <h4>Births:</h4>
              <v-chip>{{
                getMostRecentYear(nameData.get(`${name.name}${name.gender}`))
                  .count
              }}</v-chip>
            </div>
            <v-divider vertical></v-divider>
            <div class="yearInfo">
              <h4>Rank:</h4>
              <v-chip>{{
                getMostRecentYear(nameData.get(`${name.name}${name.gender}`))
                  .rank
              }}</v-chip>
            </div>
          </div>
          <NameStreamGraph
            :nameData="[
              [
                { name: name.name, gender: name.gender },
                nameData.get(`${name.name}${name.gender}`),
              ],
            ]"
            :minYear="minYear"
            :maxYear="maxYear"
            :noTooltip="true"
            :defaultHeight="100"
            :xTicks="[minYear, maxYear]"
            :horizontalXTicks="true"
          ></NameStreamGraph>
        </div>
      </li>
    </v-list>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch, Inject } from "vue-property-decorator";
import { DataPoint, HSL, Name, NameData } from "../models";
import GenderIcon from "../components/GenderIcon.vue";
import NameStreamGraph from "../components/NameStreamGraph.vue";
import VueSwing from "vue-swing/VueSwing.vue";
import { mdiChevronDown } from "@mdi/js";
@Component({
  components: {
    GenderIcon,
    NameStreamGraph
  },
  mounted() {
    const { id, gender, mode, otherID } = this.$route.params;
    this.$data.otherKindlingID = otherID || "";
    fetch(`${process.env.VUE_APP_API_ROOT}/kindling/id/${id}/matches/?limit=5`)
      .then(res => res.json())
      .then(data => {
        const { nameData, numberOfParticipants } = data;
        this.$data.names = nameData;
        this.$data.participants = numberOfParticipants;
      });
    fetch(`${process.env.VUE_APP_API_ROOT}/minmax-years`)
      .then(res => res.json())
      .then((data: any) => {
        const { minYear, maxYear } = data;
        this.$data.minYear = minYear;
        this.$data.maxYear = maxYear;
      });
  }
})
export default class Matches extends Vue {
  names: NameData[] = [];
  @Prop({ default: 1 }) participants: number;

  expanded = "";
  setExpanded(key: string) {
    this.expanded = this.expanded === key ? "" : key;
  }

  otherKindlingID = "";

  mdiChevronDown = mdiChevronDown;

  minYear = 2010;
  maxYear = 2015;

  nameData: Map<string, DataPoint[]> = new Map();

  toNameCase(name: string) {
    return name
      .split("-")
      .map(
        (namePart: string) =>
          `${namePart[0].toUpperCase()}${namePart.slice(1).toLowerCase()}`
      )
      .join("-");
  }

  get items() {
    return this.names.map(nameData => ({
      ...nameData,
      key: `${nameData.name}${nameData.gender}`,
      mostRecentYear: this.getMostRecentYear(
        this.nameData.get(`${nameData.name}${nameData}`)
      )
    }));
  }

  getMostRecentYear(datapoints: DataPoint[]) {
    if (!datapoints)
      return { year: undefined, count: undefined, rank: undefined };

    const sortedYears = datapoints.sort((a, b) => (a.year < b.year ? 1 : -1));
    return sortedYears[0];
  }

  @Watch("names")
  onNamesChange(newNames: NameData[], oldNames: NameData[]) {
    newNames.forEach(name => {
      const thisName =
        oldNames.find(n => n.name === name.name && n.gender === name.gender) ||
        name;

      if (!thisName || !thisName.data) {
        fetch(
          `${process.env.VUE_APP_API_ROOT}/births/${name.name}/gender/${name.gender}`
        )
          .then(res => res.json())
          .then(js => {
            this.nameData.set(`${name.name}${name.gender}`, js);
          });
      }
    });
  }

  @Watch("otherKindlingID")
  onOtherKindlingIDChange(otherID: string) {
    const { id } = this.$route.params;
    fetch(
      `${process.env.VUE_APP_API_ROOT}/kindling/id/${id}/matches/${otherID}/?limit=5`
    )
      .then(res => res.json())
      .then(data => {
        const { nameData, numberOfParticipants } = data;
        this.names = nameData;
        this.participants = numberOfParticipants;
        if (numberOfParticipants === 2)
          localStorage.setItem("baby-names-kindling-otherID", otherID);
      });
  }
}
</script>
<style lang="scss" scoped>
.cardHeader {
  box-shadow: 0px 4px 5px -5px #00000044;
}

.matchList {
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: none;

  & li {
    list-style-type: none;
    border-bottom: 1px solid #00000033;
    cursor: pointer;
    &:hover {
      background-color: #00000005;
    }
  }

  & .listItemHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    & .listItemHeading {
      display: flex;
      align-items: center;
      & span {
        margin-left: 1vw;
      }
    }
  }

  & .listItemContent {
    & .mostRecentYear {
      display: flex;
      justify-content: space-evenly;

      & .yearInfo {
        display: flex;
        align-items: center;
        & > :not(:first-child) {
          margin-left: 1vw;
        }
      }
    }
  }
}

.scaleY-fade-enter-active {
  transition: all 0.3s ease;
}
.scaleY-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.scaleY-fade-enter, .scaleY-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
