<template>
  <div class="nameDeckContainer">
    <v-btn color="accent" @click="getMoreNameData">Fetch more</v-btn>
    <VueSwing
      :config="throwConfig"
      @throwoutleft="reject"
      @throwoutright="accept"
      ><NameCard
        class="deck-item"
        v-for="(name, index) in names"
        :key="`${name.name}${name.gender}`"
        :name="name"
        :style="{
          zIndex: 100 - index,
          height: '100%',
        }"
        :minYear="minYear"
        :maxYear="maxYear"
        @accept="accept"
        @reject="reject"
        :flat="index > 1"
      ></NameCard
    ></VueSwing>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch, Inject } from "vue-property-decorator";
import { DataPoint, HSL, Name, NameData } from "../models";
import { paletteGenerator } from "../utils/paletteGenerator";
import {
  mdiDiceMultiple,
  mdiCheckCircleOutline,
  mdiCloseCircleOutline,
  mdiAccountCircle
} from "@mdi/js";
import GenderIcon from "../components/GenderIcon.vue";
import NameCard from "../components/NameCard.vue";
import VueSwing from "vue-swing/VueSwing.vue";

@Component({
  components: {
    GenderIcon,
    NameCard,
    VueSwing
  },
  mounted() {
    fetch(`${process.env.VUE_APP_API_ROOT}/minmax-years`)
      .then(res => res.json())
      .then((data: any) => {
        const { minYear, maxYear } = data;
        this.$data.minYear = minYear;
        this.$data.maxYear = maxYear;
      });
  }
})
export default class NameDeck extends Vue {
  @Prop({ default: [] }) names!: NameData[];

  get currentName(): NameData | null {
    return this.names[0] || null;
  }

  get cardWidth() {
    if (!this.$el) return null;
    const cardEl = this.$el.querySelector(".deck-item");
    return cardEl.getBoundingClientRect().width;
  }

  minYear = 2010;
  maxYear = 2015;

  throwConfig = {
    throwOutDistance: () => 10000,
    throwOutConfidence: (xOffset: number, yOffset: number, element: any) => {
      const xConfidence = Math.min(
        Math.abs(xOffset * 3) / element.offsetWidth,
        1
      );
      const yConfidence = Math.min(
        Math.abs(yOffset * 3) / element.offsetHeight,
        1
      );

      return Math.max(xConfidence, yConfidence);
    }
  };

  accept() {
    // send accept to server
    const name: Name = this.currentName![0]!;
    this.$emit("accept", name);
  }

  reject() {
    const name: Name = this.currentName![0]!;
    this.$emit("reject", name);
  }

  getMoreNameData() {
    this.$emit("getMoreNameData", 5);
  }
}
</script>
<style lang="scss" scoped>
.card {
  background-color: var(--translucent-white);
  padding: 2vmin;
  width: 95%;
  max-width: 1100px;
}

#pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 2vmin;

  & .userCard {
    & #idContainer,
    #userContainer {
      display: flex;
      align-items: center;

      & .buttonIcon {
        margin-right: 2vw;
      }

      & > :not(:first-child) {
        margin-left: 2vw;
      }
    }
  }

  & .nameDeckContainer {
    flex-grow: 1;
    position: relative;
    width: 100%;
    & > * {
      transition: transform 1s ease;
    }
    & .accepted {
      transform: translateX(100%);
    }
    & .rejected {
      transform: translateX(-100%);
    }

    & > button {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  & .kindlingTabs {
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.deck-item {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: max(-47.5%, -550px);
  // transform: translateX(-50%);
  background-color: #f7fcff;
}
.deck-enter-active,
.deck-leave-active {
  transition: all 1s;
  opacity: 1;
}
.deck-enter, .deck-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(100px);
}
</style>
