<template>
  <v-card class="card nameCard" :flat="flat">
    <div class="cardHeader">
      <div class="cardTitle">
        <v-card-title>{{ name.name }}</v-card-title
        ><GenderIcon :gender="name.gender"></GenderIcon>
      </div>
      <div v-if="name.meaning || name.origin" class="nameMeaning">
        <i v-if="name.origin">({{ name.origin }})</i>
        <b v-if="name.meaning">{{ name.meaning }}</b>
      </div>
    </div>
    <div class="recentInfo" v-if="mostRecentYear">
      <v-chip>Rank: {{ mostRecentYear.rank }}</v-chip>
      <v-chip>Births: {{ mostRecentYear.count }}</v-chip>
    </div>
    <div class="graphContainer" ref="graphContainer">
      <NameStreamGraph
        ref="graph"
        v-if="name && name.data.length > 0"
        :nameData="[nameData]"
        :minYear="minYear"
        :maxYear="maxYear"
        :yTicks="[125, 250, 500, 1000, 2000, 4000, 8000]"
        :xTicks="[minYear, maxYear]"
        :defaultHeight="svgHeight"
      ></NameStreamGraph>
    </div>
    <v-card-actions class="cardActions">
      <v-btn color="error" @click="$emit('reject')"
        ><v-icon>{{ crossIcon }}</v-icon></v-btn
      >
      <v-btn color="success" @click="$emit('accept')"
        ><v-icon>{{ tickIcon }}</v-icon></v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch, Inject } from "vue-property-decorator";
import { DataPoint, HSL, Name, NameData } from "../models";
import { paletteGenerator } from "../utils/paletteGenerator";
import {
  mdiDiceMultiple,
  mdiCheckCircleOutline,
  mdiCloseCircleOutline,
  mdiCheck,
  mdiClose
} from "@mdi/js";
import GenderIcon from "../components/GenderIcon.vue";
import NameStreamGraph from "../components/NameStreamGraph.vue";

@Component({
  components: {
    GenderIcon,
    NameStreamGraph
  }
})
export default class NameCard extends Vue {
  @Prop() name!: NameData;
  @Prop({ default: false }) flat: boolean;

  tickIcon = mdiCheck;
  crossIcon = mdiClose;

  @Prop({ default: 2010 }) minYear!: number;
  @Prop({ default: 2015 }) maxYear!: number;

  get nameData() {
    return [this.name as Name, this.name.data];
  }

  get svgHeight() {
    if (!this.$el) return null;
    const graphContainer = this.$el.querySelector(".graphContainer");
    if (!graphContainer) return null;

    return graphContainer.getBoundingClientRect().height;
  }

  get graphHeight() {
    const { graph } = this.$refs;
    if (!graph) return null;
    return graph as Element;
  }

  get mostRecentYear() {
    if (!this.name.data) return null;
    const datapoints = this.name.data;
    const sortedYears = datapoints.sort((a, b) => (a.year < b.year ? 1 : -1));
    return sortedYears[0];
  }
}
</script>
<style lang="scss" scoped>
.card {
  background-color: var(--translucent-white);
  margin: 1vh auto;
  padding: 2vmin;
  width: 95vw;
  max-width: 1100px;
}

.nameCard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  & .cardHeader {
    margin-bottom: 2vh;
  }

  & .cardTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    & > * {
      padding: 0;
    }
  }

  & .recentInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    & > :not(:first-child) {
      margin-left: 2vw;
    }
  }

  & .graphContainer {
    flex-grow: 1;
  }

  & .cardActions {
    display: flex;
    justify-content: space-evenly;
  }
}

.nameMeaning {
  display: flex;
  align-items: center;
  justify-content: center;
  & > :not(:first-child) {
    margin-left: 1rem;
  }
}
</style>
