<template>
  <div>
    <div
      :class="{ overlay: true, 'overlay--visible': showDrawer }"
      @click="toggleOpen"
    />
    <nav id="navbarWrap" :class="{ navbar: true, 'navbar--open': showDrawer }">
      <v-list nav class="list"
        ><router-link to="/">
          <v-list-item :style="hoverStyle" class="listItem"
            ><div class="listItem-text">
              <h2>Search</h2>
              <p>Search for names and compare on a stream graph</p>
            </div>
            <v-icon color="accent">{{ streamIcon }}</v-icon></v-list-item
          ></router-link
        ><router-link to="/kindling">
          <v-list-item :style="hoverStyle" class="listItem"
            ><div class="listItem-text">
              <h2>Kindling</h2>
              <p>Rate the names you like and compare with your partner</p>
            </div>
            <v-icon color="accent">{{ fireIcon }}</v-icon></v-list-item
          ></router-link
        ><router-link to="/popularity">
          <v-list-item :style="hoverStyle" class="listItem"
            ><div class="listItem-text">
              <h2>Popularity</h2>
              <p>View the popularity of all names in a table</p>
            </div>
            <v-icon color="accent">{{ mdiTable }}</v-icon></v-list-item
          ></router-link
        ></v-list
      >
    </nav>
  </div>
</template>

<script lang="ts">
import { Component, Inject, Vue, Prop } from "vue-property-decorator";
import { mdiChartLineStacked, mdiChartLine, mdiFire, mdiTable } from "@mdi/js";
import { routes } from "../router";
import { HSL } from "../models";

const iconMap = new Map<string, string>();
iconMap.set("popularity", mdiChartLineStacked);
iconMap.set("ranking", mdiChartLine);
iconMap.set("name kindling", mdiFire);

@Component
export default class Navbar extends Vue {
  @Prop({ default: null }) showDrawer!: boolean | null;
  @Prop({ default: 0 }) top!: number;

  @Inject("primaryColour") private primaryColour!: HSL;

  get hoverStyle() {
    const style: { [key: string]: any } = {};
    const { hue } = this.primaryColour;
    let { saturation, light } = this.primaryColour;
    saturation = Math.max(0, saturation - 40);
    light = Math.min(90, light + 50);
    style["--hoverColour"] = `hsl(${hue}, ${saturation}%, ${light}%)`;
    return style;
  }

  toggleOpen() {
    this.$emit("toggle-open");
  }

  iconMap = iconMap;
  streamIcon = mdiChartLineStacked;
  lineIcon = mdiChartLine;
  fireIcon = mdiFire;
  routes = routes;
  mdiTable = mdiTable;
}
</script>
<style scoped lang="scss">
.navbar {
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  z-index: 999;
  background-color: white;
  padding: 16px 4px;
  &--open {
    transform: translateX(0%);
  }
}

.overlay {
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000022;
  z-index: 998;
  display: none;
  &--visible {
    display: block;
  }
}

.list {
  padding: 0;

  & .listItem {
    cursor: pointer;
    padding: 0.5vh 1vw;
    &:hover {
      background-color: var(--hoverColour);
      transition: 0.3s background-color ease;
    }
    & > :not(:first-child) {
      margin-left: 2vw;
    }

    & .listItem-text {
      text-decoration: none;
    }
  }
}
</style>
