<template>
  <v-card class="card ratings">
    <div class="ratingHeader">
      <v-card-title>Accepted</v-card-title>
      <v-btn
        v-if="accepted.length > 0"
        color="error"
        text
        @click="removeAllAccepted"
        >Clear All</v-btn
      >
    </div>
    <div class="chipGroupContainer">
      <v-chip-group column>
        <v-chip
          color="success"
          close
          v-for="name in accepted"
          :key="`${name.name}${name.gender}`"
          @click:close="removeFromAccepted(name)"
        >
          <GenderIcon :gender="name.gender"></GenderIcon
          ><span>{{ name.name }}</span>
        </v-chip></v-chip-group
      >
    </div>
    <div class="ratingHeader">
      <v-card-title>Rejected</v-card-title
      ><v-btn
        v-if="rejected.length > 0"
        color="error"
        text
        @click="removeAllRejected"
        >Clear All</v-btn
      >
    </div>
    <div class="chipGroupContainer">
      <v-chip-group column>
        <v-chip
          close
          color="error"
          v-for="name in rejected"
          :key="`${name.name}${name.gender}`"
          @click:close="removeFromRejected(name)"
        >
          <GenderIcon :gender="name.gender"></GenderIcon
          ><span>{{ name.name }}</span>
        </v-chip></v-chip-group
      >
    </div>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch, Inject } from "vue-property-decorator";
import { DataPoint, HSL, Name, NameData } from "../models";
import { paletteGenerator } from "../utils/paletteGenerator";
import GenderIcon from "../components/GenderIcon.vue";
import NameCard from "../components/NameCard.vue";
import NameDeck from "../components/NameDeck.vue";
import VueSwing from "vue-swing/VueSwing.vue";
import { RouteConfig } from "vue-router";

@Component({
  components: {
    GenderIcon,
    NameCard,
    NameDeck,
    VueSwing,
  },
  mounted() {
    const { id, user } = this.$route.params;

    this.$data.kindlingID = id;
    this.$data.userName = user;
  },
})
export default class Ratings extends Vue {
  @Prop({ default: [] }) accepted: Name[];
  @Prop({ default: [] }) rejected: Name[];

  removeAllAccepted() {
    this.$emit("removeAllAccepted");
  }
  removeAllRejected() {
    this.$emit("removeAllRejected");
  }
  removeFromAccepted(name: Name) {
    this.$emit("removeFromAccepted", name);
  }
  removeFromRejected(name: Name) {
    this.$emit("removeFromRejected", name);
  }
}
</script>
<style lang="scss" scoped>
.ratings {
  & .ratingHeader {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
