<template>
  <v-app id="root">
    <HeaderBar @toggle-open="toggleShowDrawer" />
    <Navbar
      :showDrawer="showDrawer"
      @toggle-open="toggleShowDrawer"
      :top="navbarTop"
    ></Navbar>
    <v-main>
      <router-view></router-view>
    </v-main>
    <transition name="fade">
      <CookieBanner
        v-if="!cookiesAccepted"
        @acceptCookiePolicy="acceptCookiePolicy"
      ></CookieBanner
    ></transition>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import NameSearch from "./components/NameSearch.vue";
import CookieBanner from "./components/CookieBanner.vue";
import HeaderBar from "./components/HeaderBar.vue";
import Navbar from "./components/Navbar.vue";
import color from "color";
import { HSL } from "./models";
import { mdiGraph, mdiBaby, mdiBabyFace, mdiBabyFaceOutline } from "@mdi/js";

@Component({
  components: {
    CookieBanner,
    NameSearch,
    HeaderBar,
    Navbar
  },
  provide() {
    const primaryRGB = this.$vuetify.theme.themes.light.primary;
    const primaryHSL = color(primaryRGB).hsl();
    const secondaryRGB = this.$vuetify.theme.themes.light.accent;
    const secondaryHSL = color(secondaryRGB).hsl();

    const hue = primaryHSL.hue();
    const saturation = primaryHSL.saturationl();
    const light = primaryHSL.lightness();
    const primaryColour: HSL = { hue, saturation, light };

    const secondaryHue = secondaryHSL.hue();
    const secondarySaturation = secondaryHSL.saturationl();
    const secondaryLight = secondaryHSL.lightness();
    const secondaryColour: HSL = {
      hue: secondaryHue,
      saturation: secondarySaturation,
      light: secondaryLight
    };

    return {
      primaryColour,
      secondaryColour
    };
  },
  mounted() {
    window.addEventListener("resize", () => {
      const headerRect = this.$el
        .querySelector("header")!
        .getBoundingClientRect();
      const headerHeight = headerRect.height;
      this.$data.navbarTop = headerHeight;
    });
  }
})
export default class App extends Vue {
  showDrawer = false;
  navbarTop = 0;

  mdiBaby = mdiBabyFaceOutline;

  cookiesAccepted = Boolean(localStorage.getItem("baby-names-accept-cookies"));
  acceptCookiePolicy() {
    this.cookiesAccepted = true;
    localStorage.setItem("baby-names-accept-cookies", "true");
  }

  toggleShowDrawer() {
    this.showDrawer = !this.showDrawer;
  }
}
</script>
<style lang="scss">
#header {
  cursor: default;
  z-index: 9999;
}

* {
  --translucent-white: #ffffffcc;
  --header-height: 60px;
  --primary-colour: #03a9f4;
  --secondary-colour: #757575;
  --accent-colour: #ffc107;
  --error-colour: #b71c1c;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(192,480,468)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23b3e5fc'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='436' height='363.3' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.08'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

#root {
  min-height: 100vh;
}

h1 {
  font-weight: 300;
}
h2 {
  font-weight: 300;
}
h3 {
  font-weight: 300;
}
h4 {
  font-weight: 400;
}

.card {
  background-color: var(--translucent-white);
  margin: 1vh auto;
  padding: 2vmin;
  width: 95%;
  max-width: 1100px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.app-bar {
  height: var(--header-height);
  & h1 {
    flex-grow: 1;
  }
  & .v-icon {
    height: 36px;
    width: 36px;
    & svg {
      height: 100%;
      width: 100%;
    }
  }
}
</style>
